<!-- Lista de elementos monitor-->
<div>
  <ul class="list-group list-group-horizontal">
    <app-elemento-monitor [monitor]="monitor[0]" (selectEvent)="informarMonitor($event)"></app-elemento-monitor>
    <app-elemento-monitor [monitor]="monitor[1]" (selectEvent)="informarMonitor($event)"></app-elemento-monitor>
    <app-elemento-monitor [monitor]="monitor[2]" (selectEvent)="informarMonitor($event)"></app-elemento-monitor>
    <app-elemento-monitor [monitor]="monitor[3]" (selectEvent)="informarMonitor($event)"></app-elemento-monitor>
    <app-elemento-monitor [monitor]="monitor[4]" (selectEvent)="informarMonitor($event)"></app-elemento-monitor>
  </ul>
</div>

