@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}


.col{
  text-align: center;
  padding: 40px;

}

.lista {


  padding: 20px;
  left: 50%;

}
